services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hcp_crm_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/hcp_crm_db
      GROQ_API_KEY: ${GROQ_API_KEY}
      PYTHONPATH: .
    depends_on:
      - db
    volumes:
      - .:/app  # Changed this to mount the root so 'app' is visible as a module

volumes:
  postgres_data:
